<header>
  <a href="{{ site.baseurl }}/">
    <h1 class="site-name">{{ site.name }}</h1>
  </a>

  <nav class="header-links">
    <a href="https://twitter.com/digitaslbi_labs" target="_blank"><img src="/assets/images/twitter-logo.png" alt="Twitter"></a>
    <a href="https://vimeo.com/digitaslabsparis" target="_blank"><img src="/assets/images/vimeo-logo.png" alt="Vimeo"></a>
    <a href="https://digitaslbi.com" target="_blank"><img src="/assets/images/digitas-logo.png" alt="Digitas LBi"></a>
  </nav>
</header>
