<div class="wrapper-masthead">
    <header class="masthead clearfix">
      <div class="header-left">
        <a href="{{ site.baseurl }}/" class="site-avatar">
          <div class="overlay-1-container">
            <div class="logo-overlay-1 overlay"></div>
          </div>
          <div class="logo-overlay-2 overlay">
          </div>
          <img class="logo-white" src="/assets/images/labs-logo-white.png" />
        </a>

        <div class="site-info">
          <div class="info-container">
            <a href="{{ site.baseurl }}/">
              <span class="site-name">{{ site.name }}</span>
              <p class="site-description">by Digitas LBi</p>
            </a>
          </div>
        </div>
      </div>

      <nav class="header-links">
        <a href="https://twitter.com/digitaslbi_labs" target="_blank"><img src="/assets/images/twitter-logo.png" alt="Twitter"></a>
        <a href="https://vimeo.com/digitaslabsparis" target="_blank"><img src="/assets/images/vimeo-logo.png" alt="Vimeo"></a>
        <a href="https://digitaslbi.com" target="_blank"><img src="/assets/images/digitas-logo.png" alt="Digitas LBi"></a>
      </nav>
    </header>
</div>
