<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<!-- Facebook meta -->
<meta property="og:title" content="{{ site.title }}"/>
<meta property="og:image" content="{{ site.preview-image}}"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta name="description" content="{{ site.description }}"/>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.footer-links.twitter }}">
<meta name="twitter:creator" content="{{ site.footer-links.twitter }}">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.preview-image}}">

<!-- GOOGLE + Share -->
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.preview-image}}">
